<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || "Bangarang" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="header">
  	<%= image_tag "logo.png", width: 700 %>
  </header>

  <div class="center">
	  <nav id="mainNav">
	  	<ul>
	  		<% if current_admin %>
	  			<li><%= link_to 'Approve Users', '/approved' %></li>
	  			<li><%= link_to 'Logout', '/logout' %></li>
	  		<% else %>
	  			<li><%= link_to 'Admin Login', '/login' %></li>
	  		<% end %>
	  	</ul>
	  </nav>

	  <div class="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
