%p#notice= notice

%p
  %b Server:
  = @status.server_id
%p
  %b Up:
  = @status.up
%p
  %b Ports open:
  = @status.ports_open
%p
  %b Ports:
  = @status.ports

= link_to 'Edit', edit_status_path(@status)
\|
= link_to 'Back', statuses_path
