.container-fluid
	.row-fluid
		.span10
			%h1 Listing movies

			- @movies.each do |movie|
				.row-fluid.well
					.span2
						= link_to movie do
							= image_tag movie.cover_url
					.span7
						%span.bigger= movie.title
						%p.big.gray= movie.director
						%p.big= movie.description
	.row-fluid
		- if current_user && current_user.admin
			= link_to 'Force Update', movies_forceupdate_path, class: 'btn'