.container-fluid
	.row-fluid
		.span10
			%h1 Movies

			- @movies.each do |movie|
				.row-fluid.well
					.span2
						= link_to movie do
							= image_tag movie.cover_url
					.span7
						%span.bigger= link_to movie.title, movie
						%br/
						- if movie.hd
							%span.label HD
							%span= " | "
						%span.big.gray= movie.director
						%p.big= movie.description
						%p= "Rating: #{movie.rating}/10"
						.progress.progress-success.progress-striped{style: 'width:100px'}
							.bar{style: "width:#{(Float(movie.rating) * 10).floor}%"}
					.span3
						%h2 Download
						- if !movie.definition.nil? && movie.definition.length > 0
							- movie.definition.split(",").each do |definition|
								- data = definition.split(":")
								= link_to data[0], "https://std.jsvana.com/hdmov/#{data[1]}", class: 'btn'
						- else
							= link_to 'Standard', '/download', class: 'btn'

	.row-fluid
		- if current_user && current_user.admin
			= link_to 'Force Update', movies_forceupdate_path, class: 'btn'