%h1= "#{@server.hostname}.#{@server.domain}"
%p.gray= @server.ip

%p.big= "Uptime: #{@server.status.uptime_tos}"

.row-fluid
	.span6
		#load-container
	.span6
		#users-container

%script
	window.App = window.App || {};
	window.App.Data = window.App.Data || {};
	= "window.App.Data.minute_data = [#{@minute_load}];"
	= "window.App.Data.five_data = [#{@five_load}];"
	= "window.App.Data.fifteen_data = [#{@fifteen_load}];"
	= "window.App.Data.users_data = [#{@users_load}];"

.row-fluid
	.span12
		%p.big= "#{pluralize @server.status.ports_open, 'Open Port'}"
		- unless @server.status.ports_open == 0
			%table.table.table-striped.table-condensed
				%thead
					%tr
						%th Port
						%th Protocol
						%th Service
				%tbody
					- @server.status.ports.split(',').each do |port|
						%tr
							- p = port.split("/"); a = p[1].split(" ")
							%td= p[0]
							%td= a[0]
							%td= a[1]

= link_to 'Back', status_servers_path, class: 'btn'