%h1= "#{@server.hostname}.#{@server.domain}"
%p.gray= @server.ip

%ul.unstyled
	= "#{@server.status.ports_open} Open Ports"
	- @server.status.ports.split(',').each do |port|
		%li= port
= link_to 'Back', status_path, class: 'btn'
