%p#notice
  = notice

%p
  %b Name:
  %span= @user.name
%p
  %b Username:
  %span= @user.username
%p
  %b Password:
  %span [Filtered]
%p
  %b Email:
  %span= @user.email

= link_to 'Edit', edit_user_path(@user), class: 'btn'
%span |
- if current_user.admin
  = link_to 'Back', users_path, class: 'btn'
- else
  = link_to 'Back', welcomes_path, class: 'btn'
