<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title || "Bangarang" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
  	<%= image_tag "logo.png", width: 1000 %>
  </header>

<%= yield %>

</body>
</html>
